# =========================
# Android / Gradle Project
# =========================

# Gradle files
.gradle/
build/
**/build/

# Local configuration
local.properties

# Log/Temp files
*.log
*.temp
*.tmp

# =========================
# IntelliJ / Android Studio
# =========================

# IDE settings
.idea/
*.iml
*.ipr
*.iws

# IDE caches
caches/
out/

# =========================
# OS-specific files
# =========================

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Linux
*~

# =========================
# Misc
# =========================

# Keystore files (cuidado, no subir claves privadas)
*.jks
*.keystore

# Gradle wrapper
!gradle-wrapper.jar

daemon/8.13/

kotlin-profile/
